{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-3"></div>
<div class="col-md-9 p-5 m-5">
    <p class="">
        Welcome to AshBus, your premier destination for hassle-free bus reservations. At AshBus, we are committed to providing convenient, 
        reliable, and affordable transportation solutions for all your travel needs. With years of experience in the industry, we understand 
        the importance of seamless travel experiences. Whether you're planning a family vacation, a group outing, or a business trip, we have 
        you covered. Our user-friendly platform and dedicated customer support team ensure that booking your bus tickets is simple and stress-free. 
        At AshBus, safety is our top priority. We partner with reputable bus operators who adhere to strict safety standards, giving you peace of 
        mind throughout your journey. Additionally, our transparent pricing policy means no hidden fees or surprises – just straightforward booking 
        and exceptional service. We are passionate about making travel accessible to everyone. That's why we offer a wide range of routes, schedules, 
        and seating options to suit your preferences and budget. Whether you're traveling near or far, we'll help you reach your destination comfortably 
        and affordably. Thank you for choosing AshBus for your bus reservation needs. We look forward to serving you and making your travel experience unforgettable.
    </p>
</div>
</div>
{% endblock %}