{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 p-5 d-flex align-items-center">
        <p class="pl-5">AshBus India Private Limited. <br>
            F-7010/7020, Solitaire Business Hub, <br>
            Sr. No.207 Opp. NECO Garden Society, <br>
            Viman Nagar, Pune <br>
            Maharashtra – 411014</p>
    </div>
    <div class="col-md-8 p-3">
        <iframe class="shadow border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.266974409885!2d73.91148227519267!3d18.56199878253965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1a9d17181d1%3A0xa43b5ca862fdefd7!2sSolitaire%20Business%20Hub%20Viman%20Nagar!5e0!3m2!1sen!2sin!4v1708699677554!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}