{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-4">
        <p>
            <b>Terms of Service</b> <br> <br>
<b>Role of AshBus</b> <br>
AshBus operates solely as a technology platform connecting travelers with bus operators. We do not own or operate buses nor act as agents for bus operators. The booking voucher issued by AshBus is based on information provided by the bus operator regarding seat availability.
<br><br>
<b>Limitation of Liability of AshBus</b> <br>
AshBus is not responsible for bus operations, including timely departure, conduct of bus operator employees, condition of the bus, or any loss or damage of customer baggage.
<br><br>
<b>Responsibilities of Users</b> <br>
Users must contact the bus operator for boarding point information, carry a copy of the ticket and valid ID, and arrive at the boarding place 30 minutes before departure. All tickets issued are non-transferable.
<br><br>
<b>Cancellation of Ticket</b> <br>
Ticket cancellations can be done via AshBus's website, mobile app, or customer care. Cancellation charges apply as mentioned on the ticket.
<br><br>
<b>Rescheduling of Ticket</b> <br>
Ticket rescheduling can be done through AshBus's website, mobile app, or customer support. Charges apply as mentioned on the ticket, and rescheduling is subject to availability and policy.
<br><br>
        </p>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}